<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PruebaGitHub.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>90B9C5AB1EF0A2DE00827926</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90B9C5BF1EF0A2DE00827926</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90B9C5CA1EF0A2DF00827926</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
